# Dependencies
node_modules/

# Expo
.expo/
**/dist/
/web-build/
expo-env.d.ts

# Native builds
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Environment
.env

# TypeScript
*.tsbuildinfo

# Supabase temp
supabase/.temp/

# Generated native folders
/ios
/android
